@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('$lib/assets/fonts/inter/inter.ttf') format('truetype-variations');
  ascent-override: 106.25%;
  size-adjust: 106.25%;
}

/* @font-face {
  font-family: 'Inter Italic';
  font-style: normal;
  font-weight: 100 900;
  src: url('$lib/assets/fonts/inter/inter-italic.ttf') format('truetype-variations');
  ascent-override: 106.25%;
  size-adjust: 106.25%;
} */

:root {
  --default-font: 'Inter', sans-serif;
  --apple-font: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-family: 'Inter', sans-serif;
}

.input, label.input {
  @apply !outline-0;
}

button.btn {
  @apply !outline-0 !border-0;
}

@media (prefers-reduced-motion) {
  /* * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  } */
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 17px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: rgba(85, 86, 87, 0.408);
  border-radius: 16px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #4250afad;
  border-radius: 16px;
}

@layer utilities {
  /* width */
  .sitename-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  /* track */
  .sitename-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
  }
  /* handle */
  .sitename-scrollbar::-webkit-scrollbar-thumb {
    background: #55565768;
    border-radius: 16px;
  }
  /* handle on hover */
  .sitename-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4250afad;
    border-radius: 16px;
  }
  /* Hidden scrollbar */
  /* width */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  }
}
